node_modules/
.env
dist/
build/
*.log

# Swift/Xcode
.DS_Store
.build/
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
